@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}
body{
    overflow: hidden;
    background: #00AED6;
}
.todo-wrap{
    max-width: 504px;
    margin: 155px auto;
    border-radius: 8px;
    background: rgb(239, 238, 238);
    padding: 25px 0;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(69, 69, 69, 0.75);
    -moz-box-shadow: 0px 0px 20px 2px rgba(69, 69, 69, 0.75);
    box-shadow: 0px 0px 20px 2px rgba(69, 69, 69, 0.75);
}
.text-input{
    height: 50px;
    padding: 0 24px;
    position: relative;
}
.text-input input{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 0 20px 0 43px;
    font-size: 18px;
    border: 1px solid #9A9BA3;
    outline: none;
    background:rgb(239, 238, 238);
}
.text-input input::placeholder{
    color: #9A9BA3;
}
.text-input i{
    color: #EE2737;
    position: absolute;
    top:50%;
    transform: translate(17px, -50%);
}
.filter-section, li{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.filter-section{
    padding: 18px 25px;
    border-bottom: 1px solid #9A9BA3;
}
.filter span{
    margin: 0 18px;
    font-size: 17px;
    cursor: pointer;
}
.filter span:first-child{
    margin-left: 0;
}
.filter-section .clear-btn{
    outline: none;
    border:none;
    border-radius: 8px;
    font-size: 13px;
    padding: 8px 17px;
    background: #F06400;
    color: #ffff;
    cursor: pointer;
}
.filter span.active{
    color: #00AA13;
}
.task-section{
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 20px 10px 25px;
}
.task-section .task{
    list-style: none;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #9A9BA3;
    align-items: flex-start;
}
.task-section.overflow {
    overflow-y: auto;
    max-height: 300px;
}

.task-section .task:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.task-section::-webkit-scrollbar{
    width: 5px;
  }
  .task-section::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
  }
  .task-section::-webkit-scrollbar-thumb{
    background: #e6e6e6;
    border-radius: 25px;
  }
.task label{
    display: flex;
}
.task label p.checked{
    text-decoration: line-through;
}
.task label input{
    margin-right: 12px;
}
.task .settings{
    cursor: pointer;
    position: relative;
}
.settings .setting-menu{
    position: absolute;
    padding: 5px 0;
    right: -5px;
    bottom: -65px;
    z-index: 2;
    transform: scale(0);
    background:rgb(239, 238, 238);
    transform-origin: top right;
    transition: transform 0.2s ease;
    box-shadow: 0px 0px 6px rgba(69, 69, 69, 0.75);
    border-radius: 5px;
}
.task-section .task:last-child .setting-menu{
    bottom: 0;
    transform-origin: bottom right;
  }
  .task-section .task:first-child .setting-menu{
    bottom: -65px;
    transform-origin: top right;
  }
.settings .setting-menu.show{
    transform: scale(1);
}
.setting-menu li{
    height: 20px;
    padding: 12px 15px;
    font-size: 13px;
    margin-bottom: 2px;
    justify-content:flex-start;
}
.setting-menu li:last-child{
    margin-bottom: 0;
}
.setting-menu li:hover{
    background:rgb(224, 223, 223);
}
.setting-menu li i{
    padding-right: 5px;
}
@media (max-width: 400px) {
    body{
      padding: 0 10px;
    }
    .wrapper {
      padding: 20px 0;
    }
    .filters span{
      margin: 0 5px;
    }
    .task-input{
      padding: 0 20px;
    }
    .controls{
      padding: 18px 20px;
    }
    .task-box{
      margin-top: 20px;
      margin-right: 5px;
      padding: 0 15px 10px 20px;
    }
    .task label input{
      margin-top: 4px;
    }
  }